# Main Caddyfile
#
# This file imports configurations from other files.

:8000 {
	# Import the core configuration
	import includes/core/*.caddy
	# Import any configuration created by the entrypoint script
	import includes/entrypoint/*.caddy
	# Import any configuration created or mounted by the user
	import includes.d/*.caddy
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
# https://caddyserver.com/docs/caddyfile/directives/import
